<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="amv.amvapp" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".addition_cartesian"
            android:label="@string/title_activity_addition_cartesian" >
        </activity>
        <activity
            android:name=".addition_polar"
            android:label="@string/title_activity_addition_polar" >
        </activity>
        <activity
            android:name=".smult_cartesian"
            android:label="@string/title_activity_smult_cartesian" >
        </activity>
        <activity
            android:name=".smult_polar"
            android:label="@string/title_activity_smult_polar" >
        </activity>
        <activity
            android:name=".vmult_cartesian"
            android:label="@string/title_activity_vmult_cartesian" >
        </activity>
        <activity
            android:name=".vmult_polar"
            android:label="@string/title_activity_vmult_polar" >
        </activity>
    </application>

</manifest>
